<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/the-grid/the-grid.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/the-grid/debug-grid.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../bower_components/paper-fab-speed-dial/paper-fab-speed-dial.html">
<link rel="import" href="../../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../../bower_components/service-worker/service-worker.html">
<link rel="import" href="../math-canvas-icons.html">
<link rel="import" href="../math-canvas-help-dialog/math-canvas-help-dialog.html">
<link rel="import" href="../math-canvas-grid/math-canvas-grid.html">

<dom-module id="math-canvas-app">
  <template>
    <style>

      :host {
        font-family: var(--app);
        display: block;
        position: relative;
        --math-canvas-tile-size: 48px;
        --paper-fab-speed-dial-position: fixed;
        --the-grid-tile: {
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: Roboto, sans;
          font-size: 32px;
        }
      }

      :host,
      #grid {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
      }

      #graphPaper,
      #grid {
        position: absolute;
      }

      paper-fab-speed-dial {
        font-family: "Roboto", sans-serif;
      }

      paper-fab-speed-dial paper-fab {
        background-color: var(--paper-light-blue-a700);
      }

      [mini] {
        background-color: var(--paper-light-blue-a400);
      }

      #languageWrapper,
      #languageFab,
      #languageCollapse,
      #languageSelector {
        display: flex;
        position: relative;
      }

      #languageSelector paper-button {
        max-width: 40px;
        min-width: 40px;
        border-radius: 100%;
      }

      #languageCollapse {
        align-items: center;
        position: absolute;
        right: 48px;
      }

      #tileSizeWrapper {
        display: flex;
        position: relative;
      }

      #tileSizeCollapse {
        height: 40px;
        display: flex;
        align-items: center;
        position: absolute;
        right: 48px;
      }

    </style>

    <service-worker id="serviceWorker" scope="/" auto-reload></service-worker>

    <math-canvas-grid id="grid" tile-size="{{tileSize}}" on-save-state="saveState"></math-canvas-grid>

    <math-canvas-help-dialog id="help" language="{{language}}" with-backdrop opened="{{helpOpened}}"></math-canvas-help-dialog>

    <paper-fab-speed-dial id="speedDial" active="{{speedDialOpened}}">
      <paper-fab icon="math-canvas:more-vert"></paper-fab>
      <div slot="dropdown-content">
        <span id="languageWrapper">
          <paper-fab id="languageFab" mini icon="math-canvas:language" toggles active="{{languageOpened}}"></paper-fab>
          <iron-collapse id="languageCollapse" opened="{{languageOpened}}" horizontal>
            <iron-selector id="languageSelector" selected="{{language}}" attr-for-selected="name">
              <paper-button name="en" aria-label="English">🇨🇦</paper-button>
              <paper-button name="he" aria-label="עיברית">🇮🇱</paper-button>
            </iron-selector>
          </iron-collapse>
        </span>
        <paper-fab id="clearFab" mini icon="math-canvas:close" on-tap="clear"></paper-fab>
        <span id="tileSizeWrapper">
          <paper-fab id="tileSizeFab" mini icon="math-canvas:zoom-in" toggles active="{{tileSizeOpened}}"></paper-fab>
          <iron-collapse id="tileSizeCollapse" opened="{{tileSizeOpened}}" horizontal>
            <paper-slider id="tileSizeSlider"
                step="8" min="32" max="96"
                immediate-value="{{tileSize}}"
                value="{{tileSize}}"
            ></paper-slider>
          </iron-collapse>
        </span>
        <paper-fab id="helpFab" mini icon="math-canvas:help" toggles active="{{helpOpened}}">[[localize('help')]]</paper-fab>
      </div>
    </paper-fab-speed-dial>

    <paper-tooltip for="languageFab" position="left" manual-mode offset="24">[[localize('lang')]]</paper-tooltip>
    <paper-tooltip for="clearFab" position="left" manual-mode offset="24">[[localize('clear')]]</paper-tooltip>
    <paper-tooltip for="helpFab" position="left" manual-mode offset="24">[[localize('help')]]</paper-tooltip>
    <paper-tooltip for="tileSizeFab" position="left" manual-mode offset="24">[[localize('tileSize')]]</paper-tooltip>

  </template>

  <script> {
    const {
      compose,
      filter,
      fromDom,
      groupBy,
      map,
      sortBy,
      tileOnCanvas,
    } = MathCanvasLib;

    /**
     * @customElement
     * @polymer
     * @appliesMixin Polymer.AppLocalizeBehavior
     */
    class MathCanvasApp extends Polymer.mixinBehaviors([
      Polymer.AppLocalizeBehavior,
    ],
    Polymer.Element) {
      static get is() {return 'math-canvas-app';}
      static get properties() {
        return {

          helpOpened: {
            type: Boolean,
            value: false,
            observer: 'helpOpenedChanged',
          },

          language: {
            type: String,
            value: () => localStorage &&
              localStorage.language &&
              localStorage.language != 'undefined'
                ? localStorage.language
                : document.documentElement.lang || 'en',
            observer: 'languageChanged',
          },

          languageOpened: {
            type: Boolean,
            value: false,
            observer: 'languageOpenedChanged',
          },

          speedDialOpened: {
            type: Boolean,
            observer: 'speedDialOpenedChanged',
          },

          /** Size, in pixels, of graph tiles. */
          tileSize: {
            type: Number,
            value: 72,
            observer: 'tileSizeChanged',
          },

          tileSizeOpened: {
            type: Boolean,
            value: false,
            observer: 'tileSizeOpenedChanged',
          },

        };
      }

      connectedCallback() {
        super.connectedCallback();
        // load locales
        const resourcesResolvedUrl = this.resolveUrl('math-canvas-locales.json');
        this.loadResources(resourcesResolvedUrl);
        this.language = localStorage.language;
        const storedState = JSON.parse(localStorage.getItem('rows'));
        this.load(storedState);
      }

      load(state) {
        if (state) {
          const tilesToLoad = Object.keys(state)
            .reduce((acc, c) => [...acc, ...state[c]], []);
          const addTileToBoard =
            ({col, height, index, row, symbol, type, width}) => {
              const tile = document.createElement('tile');
                    tile.setAttribute('row', row);
                    tile.setAttribute('col', col);
                    tile.setAttribute('type', type);
                    tile.setAttribute('height', height);
                    tile.setAttribute('width', width);
                    tile.setAttribute('index', index);
                    tile.setAttribute('on-canvas', true);
                    tile.innerHTML = symbol;
              this.$.grid.$.grid.appendChild(tile);
            };
          tilesToLoad.forEach(addTileToBoard);
        }
        this.tileSize = Number(localStorage.tileSize) || this.tileSize;
        this.finishedLoading = true;
      }

      saveState() {
        const rows = compose(
          JSON.stringify,
          groupBy('row'),
          sortBy('col'),
          map(fromDom),
          filter(tileOnCanvas),
          Array.from
        );
        localStorage.setItem('rows', rows(this.$.grid.$.grid.children));
      }

      tileSizeChanged(tileSize) {
        this.updateStyles({'--math-canvas-tile-size': `${tileSize}px`});
        if (this.finishedLoading) localStorage.tileSize = tileSize;
      }

      clear() {
        this.$.grid.clear();
        localStorage.removeItem('rows');
        this.$.speedDial.active = false;
      }

      showHelp() {
        this.helpOpened = true;
      }

      multiply100(num) {
        return Number(num) * 100;
      }

      helpOpenedChanged(helpOpened) {
        if (helpOpened) this.$.speedDial.active = false;
      }

      languageChanged(language) {
        localStorage.language = language || document.documentElement.lang || 'en';
      }

      languageOpenedChanged(languageOpened) {
        const tooltip = this.shadowRoot.querySelector('[for="languageFab"]');
        languageOpened ? tooltip.hide() : tooltip.show();
      }

      speedDialOpenedChanged(speedDialOpened) {
        const collapses = Array.from(this.shadowRoot.querySelectorAll('paper-fab-speed-dial iron-collapse'));
              collapses.forEach((c) => c.opened = false);
        const tooltips = Array.from(this.shadowRoot.querySelectorAll('paper-tooltip'));
              tooltips.forEach((t) => speedDialOpened ? t.show() : t.hide());
      }

      tileSizeOpenedChanged(tileSizeOpened) {
        const tooltip = this.shadowRoot.querySelector('[for="tileSizeFab"]');
        tileSizeOpened ? tooltip.hide() : tooltip.show();
      }
    }

    customElements.define(MathCanvasApp.is, MathCanvasApp);
  }
  </script>
</dom-module>
