<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-resizable-behavior/iron-resizable-behavior.html">
<link rel="import" href="../../bower_components/the-grid/the-grid.html">
<link rel="import" href="../../bower_components/the-grid/debug-grid.html">
<link rel="import" href="../lib/functions.html">

<dom-module id="math-canvas-grid">
  <template>
    <style>
      :host {
        display: block;
      }

      :host,
      #grid {
        width: 100%;
        height: 100%;
      }

      #grid {
        position: absolute;
      }

      [placeholder] {
        background-color: gainsboro;
      }

      tile {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Roboto, sans;
        font-size: 32px;
      }

      hr {
        width: 100%;
        border-style: solid;
        color: black;
      }

      #long-division svg {
        z-index: -1;
        width: calc(var(--math-canvas-tile-size) * 7);
      }

      [type="variable"] {
        font-style: italic;
        font-family: "Times New Roman", serif;
      }

      [on-canvas][type="operator"] {
        color: var(--paper-red-500);
      }

      [on-canvas][type="number"] {
        color: var(--paper-blue-500);
      }

      [on-canvas][type="variable"] {
        color: var(--paper-green-500);
      }

    </style>

    <svg id="graphPaper" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <pattern id="inner" width$="[[tileSize]]" height$="[[tileSize]]" patternUnits="userSpaceOnUse">
          <path fill="none" stroke="blue" stroke-width="0.5" d$="M [[tileSize]] 0 L 0 0 0 [[tileSize]]"></path>
        </pattern>
      </defs>
      <rect width="100%" height="100%" fill="url(#inner)" />
      <rect width="100%" height$="[[tileSize]]" fill="red" opacity="0.5" />
      <rect width="100%" height$="[[tileSize]]" fill="red" opacity="0.5" y$="[[tileSize]]" />
    </svg>

    <the-grid id="grid"
        draggable
        animated
        overlappable
        cell-height="[[tileSize]]"
        cell-width="[[tileSize]]"
        cell-margin="0"
        col-count="{{columns}}"
        row-count="{{rows}}"
        col-autogrow
        row-autogrow
        on-move="onMove">

      <div placeholder></div>

      <tile id="rule" row="0" col="10" index="10" height="1" width="7" aria-label="Horizontal Rule"><hr/></tile>

      <tile id="long-division" row="1" col="10" index="10" height="1" width="7" aria-label="Long Division">
        <svg width$="[[longDivisionWidth]]" height$="[[longDivisionHeight]]" viewBox$="0 0 [[longDivisionWidth]] [[longDivisionHeight]]" xmlns="http://www.w3.org/2000/svg">
          <path d$="M0 [[longDivisionInner]]h4l3 7L[[longDivisionInner]] 1h[[longDivisionWidth]]" stroke-width="2" stroke="#000" fill="none"/>
        </svg>
      </tile>

      <dom-repeat items="[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]" as="number" index-as="index">
        <template>
          <tile row="0" index$="[[index]]" col$="[[index]]" type="number" height="1" width="1">[[number]]</tile>
        </template>
      </dom-repeat>

      <dom-repeat items="[[symbols]]" as="symbol" index-as="index">
        <template>
          <tile type$="[[symbol.type]]"
              aria-label="[[symbol.name]]"
              index$="[[index]]"
              row="1"
              col$="[[index]]"
              height="1"
              width="1"
          >[[symbol.symbol]]</tile>
        </template>
      </dom-repeat>

    </the-grid>

  </template>
  <script> {
    const {
      compose,
      filter,
      tileOnCanvas,
    } = MathCanvasLib;

    class MathCanvasGrid extends Polymer.mixinBehaviors([
      Polymer.IronResizableBehavior,
    ], Polymer.Element) {
      static get is() {return 'math-canvas-grid';}

      static get properties() {
        return {

          rows: {
            type: Number,
            value: 20,
            notify: true,
          },

          columns: {
            type: Number,
            value: 20,
            notify: true,
          },

          longDivisionInner: {
            type: Number,
            computed: 'computeLongDivisionInner(tileSize)',
            value: 28,
          },

          longDivisionHeight: {
            type: Number,
            computed: 'computeLongDivisionHeight(tileSize)',
            value: 28,
          },

          longDivisionWidth: {
            type: Number,
            computed: 'computeLongDivisionWidth(tileSize)',
            value: 28,
          },

          symbols: {
            type: Array,
            value: () => [
              {name: '+', symbol: '+', type: 'operator'},
              {name: '-', symbol: '-', type: 'operator'},
              {name: 'x', symbol: 'x', type: 'operator'},
              {name: '÷', symbol: '÷', type: 'operator'},
              {name: '=', symbol: '=', type: 'operator'},
              {name: '(', symbol: '(', type: 'parenthesis'},
              {name: ')', symbol: ')', type: 'parenthesis'},
              {name: 'x', symbol: 'x', type: 'variable'},
              {name: 'y', symbol: 'y', type: 'variable'},
              {name: 'z', symbol: 'z', type: 'variable'},
            ],
          },

          /** Size, in pixels, of graph tiles. */
          tileSize: {
            type: Number,
            observer: 'resizeGrid',
          },

        };
      }

      connectedCallback() {
        super.connectedCallback();
        this.$.graphPaper.style = 'width: 100%; height: 100%;z-index: -1';
        this.$.grid.$.container.appendChild(this.$.graphPaper);
        this.addEventListener('iron-resize', this.resizeGrid.bind(this));
      }

      deleteTile(tile) {
        if (tile instanceof HTMLElement) tile.remove();
      }

      computeLongDivisionInner(tileSize) {
        return tileSize / 2.5;
      }

      computeLongDivisionHeight(tileSize) {
        return tileSize / 1.5;
      }

      computeLongDivisionWidth(tileSize) {
        return tileSize * 7;
      }

      clear() {
        const remove = (el) => el.remove();
        const tiles = compose(filter(tileOnCanvas), Array.from);
        tiles(this.$.grid.children).forEach(remove);
      }

      onMove({detail: {tile}}) {
        if (tile.hasAttribute('on-canvas') &&
            tile.getAttribute('row') < 2) return this.deleteTile(tile);
        if (tile.hasAttribute('on-canvas')) return;
        const row = tile.getAttribute('type') === 'number' || tile.id === 'rule' ? '0' : '1';
        const col = tile.getAttribute('index');
        let clone = tile.cloneNode(true);
            clone.setAttribute('row', row);
            clone.setAttribute('col', col);
            clone.innerHTML = tile.innerHTML;
        this.$.grid.appendChild(clone);
        tile.setAttribute('on-canvas', true);
        this.dispatchEvent(new CustomEvent('save-state', {bubbles: true, composed: true}));
      }

      resizeGrid(event) {
        const {clientWidth, clientHeight, columns, rows, tileSize} = this;
        const rowsWidth = rows * tileSize;
        const columnsHeight = columns * tileSize;
        if (rowsWidth < clientWidth) this.rows = Math.ceil(clientWidth / (tileSize - 1));
        if (columnsHeight < clientHeight) this.columns = Math.ceil(clientHeight / (tileSize - 1));
      }
    }
    customElements.define(MathCanvasGrid.is, MathCanvasGrid);
  }
  </script>
</dom-module>
