<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../../bower_components/paper-dialog-behavior/paper-dialog-behavior.html">
<link rel="import" href="../../bower_components/paper-dialog-behavior/paper-dialog-shared-styles.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../../bower_components/stripe-elements/stripe-elements.html">

<dom-module id="math-canvas-help-dialog">
  <template>
    <style include="paper-dialog-shared-styles">
      :host {
        display: block;
        padding: 0 14px;
        direction: var(--direction, ltr);
        --stripe-elements-element: {
          padding: 14px;
        };
      }

      .buttons {
        position: relative;
        padding: 8px 8px 8px 24px;
        margin: 0;
        color: var(--paper-dialog-button-color, var(--primary-color));
        @apply --layout-horizontal;
        @apply --layout-end-justified;
      }

      a[tabindex="-1"] {
        color: inherit;
        text-decoration: none;
      }

      [hidden] {
        display: none !important;
      }

      #amountContainer,
      #stripeContainer,
      #donating {
        display: flex;
      }

      #amountContainer {
        align-items: center;
      }

      #donating {
        flex-direction: column;
      }

      paper-radio-group {
        flex: 1;
      }

      stripe-elements {
        display: flex;
        padding: 8px 0;
      }

    </style>

    <h2>[[localize('mathCanvas')]]</h2>

    <paper-dialog-scrollable>

      <h3>[[localize('help')]]</h3>

      <ul>
        <li>[[localize('toPlace')]]</li>
        <li>[[localize('toRemove')]]</li>
        <li>[[localize('menuOptions')]]</li>
      </ul>

      <h3>[[localize('contributing')]]</h3>

      <p>[[localize('aFOSSProj')]]<br/>
        [[localize('youCanContrib')]] [[localize('suggestions')]], <a href="https://gitlab.com/bennyp/math-canvas/issues">[[localize('bugReports')]]</a>, or <a href="https://gitlab.com/bennyp/math-canvas/merge_requests">[[localize('code')]]</a>.
      </p>

      <a href="https://gitlab.com/bennyp/math-canvas/" tabindex="-1">
        <iron-icon icon="math-canvas:gitlab"></iron-icon>
        bennyp/math-canvas
      </a>

      <div id="donating">
        <h3>[[localize('donating')]]</h3>
        <p>[[localize('considerDonating')]]<br/>
        [[localize('secureStripe')]] <a href="https://stripe.com">Stripe</a></p>

        <paper-spinner active="{{loading}}"></paper-spinner>

        <iron-collapse id="stripeCollapse" opened="{{!loading}}">
          <paper-input label="[[localize('donationAmount')]]" placeholder="18.00" type="number" value="{{amount}}" on-value-changed="onValueChanged">
            <span slot="prefix">$</span>
            <paper-radio-group slot="suffix" allow-empty-selection on-selected-changed="onSelectedChanged" fallback-selection="18">
              <paper-radio-button name="18">18</paper-radio-button>
              <paper-radio-button name="36">36</paper-radio-button>
              <paper-radio-button name="120">120</paper-radio-button>
            </paper-radio-group>
          </paper-input>

          <paper-input label="[[localize('emailForReceipt')]]" type="email" value="{{email}}"></paper-input>

          <div id="stripeContainer">
            <stripe-elements id="stripe"
                name="Math Canvas"
                publishable-key="pk_live_wWoI25VNfRQhrJixoJqJNTcf"
                description="Math Canvas Donation"
                token="{{token}}"
                on-stripe-error="onStripeError"
            ></stripe-elements>
            <paper-button on-tap="donate">[[localize('donate')]]</paper-button>
          </div>

          <paper-toast id="toast" opened="{{toasted}}" class="fit-bottom">
            <paper-button toggles active="{{toasted}}">[[localize('ok')]]</paper-button>
          </paper-toast>
        </iron-collapse>
      </div>

    </paper-dialog-scrollable>

    <div class="buttons">
      <paper-button dialog-confirm>[[localize('ok')]]</paper-button>
    </div>

  </template>
  <script>
    /**
     * Provides a help dialog for math-canvas.
     *
     * @polymer
     * @customElement
     * @extends Polymer.Element
     * @appliesMixin Polymer.PaperDialogBehavior
     * @appliesMixin Polymer.AppLocalizeBehavior
     */
    class MathCanvasHelpDialog extends Polymer.mixinBehaviors([
      Polymer.PaperDialogBehavior,
      Polymer.AppLocalizeBehavior,
    ], Polymer.Element) {
      static get is() {return 'math-canvas-help-dialog';}

      static get properties() {
        return {

          amount: {
            type: Number,
          },

          email: {
            type: String,
          },

          language: {
            type: String,
            observer: 'languageChanged',
          },

          loading: {
            type: Boolean,
            value: false,
          },

          token: {
            type: Object,
          },

        };
      }

      static get observers() {
        return [
          '_donate(token, amount, email)',
        ];
      }

      connectedCallback() {
        super.connectedCallback();
        const resourcesResolvedUrl = this.resolveUrl('math-canvas-help-dialog-locales.json');
        this.loadResources(resourcesResolvedUrl);
      }

      onSelectedChanged({detail: {value}}) {
        this.amount = value;
      }

      onStripeError(event) {
        this.loading = false;
        this.$.toast.text = event.error.message;
        this.$.toast.open();
      }

      donate(event) {
        this.$.stripe.submit();
        this.loading = true;
      }

      async _donate(token, amount, email) {
        if (!token || amount == null || !email) return;
        const handleAsJson = (res) => res.json();
        const currency = 'usd';
        const description = 'Math Canvas Donation to Support Development';
        const source = token.id;
        const method = 'POST';
        const body = JSON.stringify({source, amount, currency, description, email});
        const headers = new Headers();
              headers.set('Content-Type', 'application/json');
        const request = {body, method, headers};
        const {error, charge} = await fetch('donate/', request).then(handleAsJson);
        this.$.toast.text = error ? error.message : this.localize('donationSucceeded');
        this.$.toast.open();
        this.$.toast.fitInto = this;
        this.loading = false;
        this.dispatchEvent(new CustomEvent(error ? 'error' : 'donation-success', error ? error : charge));
      }

      languageChanged(language) {
        const rtlLangs = ['ar', 'he', 'fa'];
        this.updateStyles({'--direction': rtlLangs.includes(language) ? 'rtl' : 'ltr'});
      }
    }
    customElements.define(MathCanvasHelpDialog.is, MathCanvasHelpDialog);
  </script>
</dom-module>
